@font-face {
  font-family: "Roboto";
  src: local("Roboto Regular"), local("Roboto-Regular"), url("./assets/fonts/Roboto-Regular.ttf") format("tryetype"), url("./assets/fonts/Roboto-Regular.woff2") format("woff2"), url("./assets/fonts/Roboto-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Roboto";
  src: local("Roboto Medium"), local("Roboto-Medium"), url("./assets/fonts/Roboto-Medium.ttf") format("tryetype"), url("./assets/fonts/Roboto-Medium.woff2") format("woff2"), url("./assets/fonts/Roboto-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Roboto";
  src: local("Roboto Medium"), local("Roboto-Medium"), url("./assets/fonts/Roboto-Bold.ttf") format("tryetype"), url("./assets/fonts/Roboto-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
}
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.subscribe__form .button_submit, .navigation__item, .footer-logo, .footer-navigation a, .icon-social, .button {
  transition: all 0.3s ease-out;
}

.button, body {
  font-family: Roboto, Verdana, sans-serif;
}

html {
  font-size: 10px;
}

body {
  font-size: 1.4rem;
  font-style: normal;
  font-weight: normal;
  line-height: 1.4rem;
}

h1 {
  position: absolute;
  overflow: hidden;
  clip: rect(1px, 1px, 1px, 1px);
  -webkit-clip-path: inset(0px 0px 99.9% 99.9%);
  clip-path: inset(0px 0px 99.9% 99.9%);
  height: 1px;
  width: 1px;
  padding: 0;
  border: 0;
}

h2 {
  font-size: 6.4rem;
  font-style: normal;
  font-weight: bold;
  line-height: 7.5rem;
  letter-spacing: 0.45rem;
  text-transform: uppercase;
}

h3 {
  font-size: 2.4rem;
  font-style: normal;
  font-weight: bold;
  line-height: 2.8rem;
  letter-spacing: 1px;
  text-transform: uppercase;
}

h4 {
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 500;
  line-height: 2rem;
  letter-spacing: 2.4px;
  text-transform: uppercase;
}

.button {
  width: 184px;
  height: 46px;
  background-color: #00AFDB;
  font-size: 1.4rem;
  font-style: normal;
  font-weight: 500;
  line-height: 16px;
  color: #FFFFFF;
  text-transform: uppercase;
  border: none;
  cursor: pointer;
}
.button:active, .button:focus, .button:hover {
  border: none;
  outline: none;
  background-color: #009CC2;
}

.button_submit {
  width: 66px;
  height: 46px;
}

.button_download {
  width: 188px;
  height: 50px;
  display: flex;
  padding: 3px 0px 2px 0;
  justify-content: flex-end;
  align-items: center;
  gap: 18px;
}

.icon {
  cursor: pointer;
  display: inline-block;
}

.socia__icon {
  width: 20px;
  height: 20px;
}

.icon-social {
  display: block;
  width: 100%;
  height: 100%;
}

.icon-social_mail {
  background-image: url("./assets/image/social-icons/mail_fff.svg");
}
.icon-social_mail:hover {
  background-image: url("./assets/image/social-icons/mail_fff2.svg");
}

.icon-social_face-book {
  background-image: url("./assets/image/social-icons/facebook_fff.svg");
}
.icon-social_face-book:hover {
  background-image: url("./assets/image/social-icons/facebook_fff2.svg");
}

.icon-social_insta {
  background-image: url("./assets/image/social-icons/insta_fff.svg");
}
.icon-social_insta:hover {
  background-image: url("./assets/image/social-icons/insta_fff2.svg");
}

.icon-social_telegram {
  background-image: url("./assets/image/social-icons/telegram_fff.svg");
}
.icon-social_telegram:hover {
  background-image: url("./assets/image/social-icons/telegram_fff2.svg");
}

.icon_send {
  width: 18px;
  height: 14px;
  background-image: url("./assets/image/fa-check.svg");
}

.button__ico {
  display: inline-flex;
  width: 60px;
  height: 100%;
  background-color: #009CC2;
}

.button__ico_apple {
  background-image: url("./assets/image/apple.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.button__ico_android {
  background-image: url("./assets/image/icon-android.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.wrapper {
  max-width: 1600px;
  margin: auto;
}

.header {
  background-color: #000000;
}

.footer {
  background-color: #000000;
}

.footer__wrapper {
  padding: 77px 312px 93px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
}

.footer__logo {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.footer-navigation {
  display: flex;
  align-items: center;
  gap: 20px;
}
.footer-navigation a {
  color: #FFFFFF;
  text-decoration: none;
}
.footer-navigation a:hover {
  opacity: 0.7;
  color: #009CC2;
}

.footer-navigation__separator {
  display: inline-block;
  width: 0.5px;
  height: 9px;
  opacity: 0.2;
  background-color: #FFFFFF;
}

.footer__privacy-policy {
  color: #818181;
}

.footer-logo {
  cursor: pointer;
}
.footer-logo:hover {
  opacity: 0.7;
}

.navigation {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 0px;
}

.navigation__item {
  font-size: 1.4rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.4rem;
  color: #FFFFFF;
  flex-grow: 0;
}
.navigation__item:hover {
  opacity: 0.7;
}
.navigation__item:nth-child(1) {
  flex: 0 1 38px;
}
.navigation__item:nth-child(2) {
  margin-left: 85px;
}
.navigation__item:nth-child(4) {
  margin-right: 85px;
}
.navigation__item:nth-child(5) {
  flex: 0 1 38px;
}
.navigation__item > a {
  color: #FFFFFF;
  text-decoration: none;
  position: relative;
}

.active::after {
  display: block;
  content: "";
  position: absolute;
  top: 19px;
  width: 100%;
  height: 1px;
  background-color: #FFFFFF;
}

.navigation__item_logo {
  width: 44px;
  height: 45px;
  flex: 0 1 45px;
  margin: 25px 100px;
}

.you-life {
  background-color: #000000;
}

.you-life__wrapper {
  background-image: url("./assets/image/bg-image.png");
  background-position: bottom;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.you-life__title {
  margin: 137px 0 20px;
  color: #FFFFFF;
  letter-spacing: 4.5px;
  transform: translate(2px, -1px);
}

.you-life__discription {
  color: #FFFFFF;
  font-size: 1.8rem;
  font-style: normal;
  font-weight: 400;
  line-height: 140%;
  text-align: center;
}

.you-life__button {
  margin: 30px 0 183px;
}

.you-life__social {
  width: 170px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 89px;
}

.rappresent {
  padding: 120px 0 140px;
}

.rappresent__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.rappresent__content {
  width: 407px;
  margin-left: 267px;
}

.rappresent__title {
  margin-right: 20px;
}

.rappresent__text {
  font-size: 1.4rem;
  font-style: normal;
  font-weight: 400;
  line-height: 145%;
  margin: 23px 0 30px;
}

.rappresent__image {
  margin-right: 270px;
}

.community {
  padding: 80px 0 140px;
  background-color: #F5F6F7;
  overflow: hidden;
}

.community__wrapper {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  overflow: hidden;
}

.communit__title {
  height: 20px;
  margin: 20px 0 10px;
}

.communit__discription {
  padding-top: 35px;
  width: 298px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 139px;
}

.community__slider {
  width: 894px;
  height: 284px;
}

.community__text-wrapper {
  display: block;
  height: 80px;
}

.communit__text {
  text-align: center;
  font-size: 1.4rem;
  font-style: normal;
  font-weight: 400;
  line-height: 144%;
}

.community__photo {
  margin-top: 5px;
}

.slider__controol {
  display: flex;
  justify-content: flex-end;
  padding-right: 269px;
  margin-bottom: 15px;
}

.controll__panel {
  display: flex;
  align-items: center;
}

.controll__item {
  display: block;
  font-size: 1.8rem;
  font-style: normal;
  font-weight: 400;
  line-height: 140%;
  width: 9px;
  height: 25px;
}

.controll__arrow_left {
  background-position: center;
  background-image: url("./assets/image/Arrow-left.svg");
  background-repeat: no-repeat;
  transform: translate(-22px, -3px);
}

.controll__arrow_right {
  height: 18px;
  margin-left: 14px;
  background-image: url("./assets/image/Arrow-right.svg");
  background-repeat: no-repeat;
  transform: translate(3px, -2px);
}

.controll__last-page {
  transform: translateY(-2px);
}

.controll__page-separator {
  transform: translate(-2px, -2px);
}

.controll__current-page {
  transform: translate(-7px, -2px);
}

.slider__content {
  display: flex;
  gap: 30px;
}

.implement__wrapper {
  padding: 120px 0 140px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.implement__content {
  width: 407px;
  margin-right: 378px;
}

.implement__title {
  transform: translateY(2px);
}

.implement__text {
  font-size: 1.4rem;
  font-style: normal;
  font-weight: 400;
  line-height: 145%;
  margin: 23px 0 31px;
}

.implement__image {
  margin-left: 269px;
}

.implement__button {
  width: 180px;
  padding: 16px 47px 14px 47px;
  transform: translateY(-2px);
  font-size: 1.4rem;
  font-style: normal;
  font-weight: 500;
  line-height: 16px;
}

.subscribe__wrapper {
  padding: 217px 0 277px;
  background-image: url("./assets/image/pexels-christina-morillo.png");
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.subscribe__title {
  color: #FFFFFF;
  margin-bottom: 30px;
}

.subscribe__form {
  display: flex;
}
.subscribe__form input {
  width: 317px;
  border: none;
  padding: 14px 0 12px 24px;
}
.subscribe__form input:focus {
  outline: none;
}
.subscribe__form .button_submit {
  padding: 15px 24px;
  border: none;
  background-color: #00AFDB;
  cursor: pointer;
}
.subscribe__form .button_submit:focus, .subscribe__form .button_submit:active, .subscribe__form .button_submit:hover {
  background-color: #009CC2;
  border: none;
  outline: none;
}

.download {
  margin-top: 10px;
  background-color: #F5F6F7;
}

.download__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.download__title {
  margin: 110px 0 22px;
}

.download__discription {
  width: 483px;
  text-align: center;
  margin-bottom: 30px;
  line-height: 140%;
}

.download__buttons {
  display: flex;
  gap: 30px;
  margin-bottom: 179px;
}

/*# sourceMappingURL=style.css.map */
