$color-buttons: #00AFDB;
$color-bg-primary: #000000;
$main-title-color: #373737;
$community-bg-color: #F5F6F7;
$download-buttons-icon: #009CC2;
$private-polisy-color: #818181;

$color-white: #FFFFFF;

$content-width: 1600px;