.button {
    width: 184px;
    height: 46px;
    background-color: $color-buttons;
    @extend %font-prim;
    @include font($size: 1.4rem, $height: 16px, $weight: 500);
    color: $color-white;
    text-transform: uppercase;
    border: none;
    @extend %transition;
    cursor: pointer;
    &:active, &:focus, &:hover {       
        border: none;
        outline: none;
        background-color: $download-buttons-icon;
      }
}

.button_submit {
    width: 66px;
    height: 46px;
}

.button_download {
    width: 188px;
    height: 50px;
    display: flex;
    padding: 3px 0px 2px 0;
    justify-content: flex-end;
    align-items: center;
    gap: 18px;
}