.icon {
    cursor: pointer;
    display: inline-block;
}

.socia__icon {
    width: 20px;
    height: 20px;
}

.icon-social {
    display: block;
    width: 100%;
    height: 100%;
}

.icon-social_mail {
    background-image: url("./assets/image/social-icons/mail_fff.svg");
}

.icon-social_face-book {
    background-image: url("./assets/image/social-icons/facebook_fff.svg");
}

.icon-social_insta {
    background-image: url("./assets/image/social-icons/insta_fff.svg");
}

.icon-social_telegram {
    background-image: url("./assets/image/social-icons/telegram_fff.svg");
}

.icon_send {
    width: 18px;
    height: 14px;
    background-image: url("./assets/image/fa-check.svg"); 
}

.button__ico {
    display: inline-flex;
    width: 60px;
    height: 100%;
    background-color: $download-buttons-icon;
}

.button__ico_apple {
    background-image: url("./assets/image/apple.svg");
    background-repeat: no-repeat;
    background-position: center;
}

.button__ico_android {
    background-image: url("./assets/image/icon-android.svg");
    background-repeat: no-repeat;
    background-position: center;
}
